.avenir-black {
    font-family: 'Avenir';
    font-weight: 900;
    font-style: normal;
}

.avenir-book-oblique {
    font-family: 'Avenir Book';
    font-weight: normal;
    font-style: italic;
}

.avenir-medium-oblique {
    font-family: 'Avenir';
    font-weight: 500;
    font-style: italic;
}

.avenir-book {
    font-family: 'Avenir Book';
    font-weight: normal;
    font-style: normal;
}

.avenir-heavy {
    font-family: 'Avenir';
    font-weight: 900;
    font-style: normal;
}

.avenir-heavy-oblique {
    font-family: 'Avenir';
    font-weight: 900;
    font-style: italic;
}

.avenir-roman {
    font-family: 'Avenir';
    font-weight: normal;
    font-style: normal;
}

.avenir-black-oblique {
    font-family: 'Avenir Black Oblique';
    font-weight: 900;
    font-style: italic;
}

.avenir-light {
    font-family: 'Avenir';
    font-weight: 300;
    font-style: normal;
}

.avenir-oblique {
    font-family: 'Avenir';
    font-weight: normal;
    font-style: italic;
}

.avenir-medium {
    font-family: 'Avenir';
    font-weight: 500;
    font-style: normal;
}

.avenir-light-oblique {
    font-family: 'Avenir';
    font-weight: 300;
    font-style: italic;
}